body{
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-67660.jpg');
}

#navbar {
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
  }

  #navbar a {
    float: left;
    display: block;
    color: white;
    font-family: fantasy;
    text-align: center;
    padding: 60px;
    text-decoration: none;
    justify-items: center;
  }

  .content {
    padding: 16px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }

  .search_field {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }
  .search_field > img {
    height: 80px;
    width: 120px;
  }
  .search_field > input {
    height: 35px;
    width: 40%;
    border: 1px solid #a3a3a6;
    border-radius: 5px;
  }
  .search_field > button {
    height: 40px;
    border-radius: 5px;
    background-color: rgb(146, 146, 42);
    color: white;
    border: none;
    text-transform: uppercase;
  }

  .runChatBot{
    background-color: #fcfbfb;
  }